@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700&display=swap');

//Colors

//Text colors
$light-text: #fff;
$colored-text: #000000;

//Fonts
$heading-font: 'Roboto', sans-serif;
$p-font:'Open Sans', sans-serif;

//Border
$background: rgb(47, 47, 47);
$border-color: linear-gradient(to bottom right, rgb(0, 251, 255), rgb(50, 99, 204)40%, rgb(0, 251, 255));
$border-width:.5em;
$edge-size:8rem;
$edge-size-triangle: 50%;
